# Dependencies
node_modules/
.pnpm-store/

# Next.js build output
.next/
out/

# Production / generated
public/pagefind/
public/og/

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Altri file e cartelle da ignorare
_notes/